{% extends 'base.html' %}
{% block seccion %}Productos{% endblock %}
{% block clases-body %}class="main-layout"{% endblock %}
{% block contenido %}
    <div class="contactus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="title">
                        <h2>Productos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ourproduct">
        <div class="container">
            <div class="row product_style_3" id="abdel">
                {% for item in productos %}
                    <!-- product -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="full product">
                                <div class="product_img">
                                    <div class="center"> <img src="/media/{{ item.image }}" alt="#"/>
                                        <div onclick="add({{ item.id }})"  style="cursor: pointer" class="overlay_hover"> <a class="add-bt">+ Añadir al carrito</a> </div>
                                    </div>
                                </div>
                            <a href="{% url 'producto_detail' item.id %}">
                                <div class="product_detail text_align_center">
                                    {% if item.price and item.price > 0 %}
                                        <p class="product_price">${{ item.price }} {{ cfg.moneda }} {% comment %}<span class="old_price">$679.89</span>{% endcomment %}</p>
                                    {% endif %}
                                    <p class="product_descr">{{ item.name }}</p>

                                </div>
                            </a>
                            </div>
                        </div>
                    <!-- end product -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra-scripts %}
    <script>
        var moneda = '{{ cfg.moneda }}';
        var pagina_global = 2;
        var itemsno = getitemsno();
        function getitemsno() {
            var res = $.ajax({
                url: '/ajax/itemsno/',
                type: "get",
                success: function (arg)
                {
                   itemsno = parseInt(arg['total']);
                }
            });
            return itemsno;
        }
        $(window).scroll(function() {
            if (pagina_global <= itemsno)
            if($(window).scrollTop() + $(window).height() > $(document).height() - ($(document).height() *75/100)) {
                paginar(pagina_global);
                pagina_global = pagina_global + 1;
            }
        });
        function paginar(page) {
            $.ajax({
                url: '/ajax/paginate/',
                type: "get",
                data: {
                    'page': page,
                },
                dataType: 'json',
                success: function (data)
                {

                    console.log(data)
                    var json = eval(data.result);
                    for (var key in json) {
                        if(json.hasOwnProperty(key)){

                            var html = "<div class=\"col-xl-4 col-lg-4 col-md-6 col-sm-12\">\n" +
                                "                            <div class=\"full product\">\n" +
                                "                                <div class=\"product_img\">\n" +
                                "                                    <div class=\"center\"> <img src=\"/media/"+json[key]['imagen']+"\" alt=\"#\"/>\n" +
                                "                                        <div style=\"cursor: pointer\" onclick=\"add("+json[key]['id']+")\" class=\"overlay_hover\"> <a class=\"add-bt\" >+ Añadir al carrito</a> </div>\n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            <a href=/producto/"+json[key]['id']+">\n" +
                                "                                <div class=\"product_detail text_align_center\">\n"
                            if( json[key]['price'] !== null && parseInt(json[key]['price']) > 0){
                                html = html + "<p class=\"product_price\">$"+json[key]['price']+" {{ cfg.moneda }} </p>\n"+
                                "                                    <p class=\"product_descr\">"+json[key]['name']+"</p>\n" +
                                "                                </div>\n" +
                                "                            </a>\n" +
                                "                            </div>\n" +
                                "                        </div>"
                            }else {
                                html = html + " <p class=\"product_descr\">"+json[key]['name']+"</p>\n" +
                                "                                </div>\n" +
                                "                            </a>\n" +
                                "                            </div>\n" +
                                "                        </div>"
                            }
                        $('#abdel').append(html)
                        }
                    }
                }
            });
        }
        function showMessage(s) {
            var m = $("#message");
            m.html(s);
            m.addClass("notificacion");
            m.removeClass("is-removed");
            m.removeClass("is-hidden");
            m.addClass("is-visible");
            setTimeout(function() {
            m.removeClass("is-visible");
            m.addClass("is-hidden");
            setTimeout(function() {
                m.addClass("is-removed");
            }, 500);
            }, 1000);
        }
            function add(id) {
                block_screen();
                $.ajax({
                  url: '/cart/add/' + id + '/',
                  data: id,
                  success: function (response) {
                    setTimeout(function() {
                        unblock_screen()
                    }, 1000);
                    showMessage("Se agregó ".concat(response['name']).concat(" a la cuenta"));
                    var total_cart = document.getElementById('total_ajax'.concat(''));
                    total_cart.innerText = parseFloat(total_cart.innerText) + parseFloat(response['price']);
                  },
                });
            }
    </script>
{% endblock %}

